<ion-app>
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title style="text-align: center">BidiBro</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="false">
    <ion-router-outlet/>
  </ion-content>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="settings-outline"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
