<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">BidiBro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="split-container">
    <div class="pane top rotated">
      <ion-card class="translation-card">
        <ion-card-header>
          <ion-card-title class="card-title">
            <span class="title-strong">{{ titleTopToBottom() || rawTitleTopToBottom() }}</span>

            <ion-button fill="clear" color="danger" (click)="onMicClick('top')" [disabled]="isStartingRecognition()">
              <ion-icon name="volume-high" />
            </ion-button>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-textarea
            autoGrow="true"
            [ngModel]="inputTextTop()"
            [disabled]="isStartingRecognition()"
            placeholder="Enter or speak translation..."
            (ngModelChange)="onTextChange($event, 'top')"
          />
        </ion-card-content>
        <div class="card-actions">
          <ion-select
            interface="popover"
            placeholder="Select language"
            [ngModel]="selectedTopLanguage()"
            [disabled]="isStartingRecognition()"
            (ngModelChange)="onLanguageChange($event, 'top')"
          >
            @for (lang of availableLanguages(); track lang.code) {
              <ion-select-option [value]="lang.code">{{ lang.name }}</ion-select-option>
            }
          </ion-select>

          <div class="record-actions">
            @if (!isRecordingTop()) {
              <ion-button fill="clear" color="danger" (click)="startRecord('top')" [disabled]="isStartingRecognition()">
                <ion-icon name="mic" />
              </ion-button>
            } @else if (isStartingRecognition()) {
              <p class="starting-recognition-message">Starting recognition...</p>
            } @else {
              <ion-button fill="solid" color="danger" (click)="stopRecord()"> Stop </ion-button>
            }
          </div>
        </div>
      </ion-card>
    </div>

    <div class="pane bottom">
      <ion-card class="translation-card">
        <ion-card-header>
          <ion-card-title class="card-title">
            <span class="title-strong">{{ titleBottomToTop() || rawTitleBottomToTop() }}</span>

            <ion-button fill="clear" color="danger" (click)="onMicClick('bottom')" [disabled]="isStartingRecognition()">
              <ion-icon name="volume-high" />
            </ion-button>
          </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-textarea
            autoGrow="true"
            [ngModel]="inputTextBottom()"
            [disabled]="isStartingRecognition()"
            placeholder="Enter or speak translation..."
            (ngModelChange)="onTextChange($event, 'bottom')"
          />
        </ion-card-content>

        <div class="card-actions">
          <ion-select
            interface="popover"
            placeholder="Select language"
            [ngModel]="selectedBottomLanguage()"
            [disabled]="isStartingRecognition()"
            (ngModelChange)="onLanguageChange($event, 'bottom')"
          >
            @for (lang of availableLanguages(); track lang.code) {
              <ion-select-option [value]="lang.code">{{ lang.name }} </ion-select-option>
            }
          </ion-select>

          <div class="record-actions">
            @if (!isRecordingBottom()) {
              <ion-button fill="clear" color="danger" (click)="startRecord('bottom')" [disabled]="isStartingRecognition()">
                <ion-icon name="mic" />
              </ion-button>
            } @else if (isStartingRecognition()) {
              <div class="starting-wrapper">
                <p class="starting-recognition-message">Starting recognition...</p>
              </div>
            } @else {
              <ion-button fill="solid" color="danger" (click)="stopRecord()"> Stop </ion-button>
            }
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
