<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center">BidiBro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list class="language-list">
    @for (lang of languages(); track $index) {
      <ion-item class="list-item-container">
        <ion-label class="language-label">
          <h2>{{ lang.name }}</h2>
        </ion-label>

        <!-- if language model is downloaded -->
        @if (isDownloaded(lang.code) && !mlkitDownloading()[lang.code]) {
          <ion-icon name="checkmark-circle" color="success" slot="end" class="download-progress" />
        }

        <!-- if language model is downloading -->
        @if (downloadProgress()[lang.code] || mlkitDownloading()[lang.code]) {
          <div class="download-progress">
            <ion-spinner name="lines-sharp" class="black-spinner"></ion-spinner>
            @if (downloadProgress()[lang.code]) {
              <span class="progress-text"> {{ downloadProgress()[lang.code] | number: '1.0-0' }}% </span>
            }
          </div>
        }

        <!-- if language model is not downloaded and no progress -->
        @if (!isDownloaded(lang.code) && !downloadProgress()[lang.code] && !mlkitDownloading()[lang.code]) {
          <ion-button color="primary" size="small" fill="clear" (click)="downloadModel(lang)" [disabled]="isDownloading()" slot="end">
            <ion-icon name="cloud-download-outline" />
          </ion-button>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
